.sub_content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 20px;
    justify-content: space-between;
}

.sub_content:nth-child(odd) {
    flex-direction: row-reverse;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c2c2c;
}

@media only screen and (max-width: 600px) {
    .sub_content {
        flex-direction: column;
        align-items: center;
    }
}
