/* CSS styles */
h1 {
color: #CE5937;
}

html { 
  height: 100%;
}

body {
  color: #2C2C2C;
  font-family: Helvetica;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
    #position: -webkit-sticky;
    #position: sticky;
    #top: 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

a { color: #CE5937; }

ul > li:nth-child(1) > a {
padding-left: 0;
}

.header {
  background-color: grey;
}

.header > div{
  max-width: 1200px;
  margin: 0 auto;
}
  
.header > nav > ul{
  max-width: 1200px;
  margin: 0 auto;
}  

.header > nav {
    background-color: #dddddd;
}

.vl {
  border-left: 2px solid black;
  border-radius: 1px;
  height: 22px;
  border-color: #2C2C2C;;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 40px;
}

@media screen and (max-width: 600px) {
  nav {
    height: 13rem;
  }
  
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  }

li {
  padding-bottom: 5px;
}
  
  .vl {
    display:none;
  }
}

.submenu ul {
    color: #1a6eb6;
}
  
li a {
  padding: 8px;
}
  
.footer {
  background-color: grey; 
  margin: 20px 0 0 0;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: auto;
}

footer {
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  gap: 175px;
  justify-content: center;
  height: 125px;
  margin: 0 auto;
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #CE5937;
  height: 50px;
  width: 100px;
}

@media screen and (max-width: 1200px) {
    footer {
    max-width: 1200px;
    display: flex;
    align-items: start;
    margin-left: 50px;
    padding-top: 25px;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    min-height: 250px;
}
  button {
  width: 250px;
}
}

@media screen and (max-width: 600px) {
     button {
  width: 100px;
}
}

.icons {
  position: absolute;
  bottom: 0;
  right: 25px;
  color: #CE5937;
}

.icons > ul > * > a {
  color: white !important;
}

.icons > img {
margin-left: 5px;
}

.icons > ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
align-items: center;
flex-direction: row;
height: 40px;
}
