h1 {
text-align: center;
}

.content {
display: flex;
flex-direction: row;
align-items: top;
flex-wrap: wrap;
}

.review_card {
flex: 1 0 27%;
margin: 25px;
padding-left: 25px;
padding-bottom: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
position: relative;
}

blockquote {
padding-bottom: 25px;
}

.stars {
position: absolute;
bottom: 20px;
}

@media screen and (max-width: 1200px) {
.content {
margin-top: 50px;
margin-bottom: 50px;
display: flex;
flex-direction: column;
gap: 25px;
align-items: start;
padding-left: 25px;
}
}