.content {
display: flex;
flex-direction: column;
align-items: center;
}

.sub_content {
margin-bottom: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: top;
}

.sub_content:nth-child(1) {
margin-top: 50px;
}

h1 {
text-align: center;
}

h2 {
text-align: center;
}

.text {
margin-left: 50px;
}

table, td, th {
  border: 1.5px solid;
  text-align: left;
  padding: 8px;
}

tr:nth-child(1) {
  background-color: #dddddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

@media screen and (max-width: 1200px) {
.sub_content {
margin-top: 50px;
margin-bottom: 50px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
}